{% extends 'myapi/base.html' %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Log In</h3>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="username">username</label>
                <input type="text" placeholder="enter your username" class="form-control" name="username">
                
                <label for="password">password</label>
                <input type="password" placeholder="enter your password" class="form-control" name="password">
                <br>
                <input type="submit" value="Log In" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>

{% endblock%}